    <p><%= respuesta %></p>
<<<<<<< HEAD
<a href="/quizes/question">Intentalo otra vez</a>
=======
    <a href="/quizes/question">Intentalo otra vez</a>
>>>>>>> da4be06894a54f9f982d57ed74fbc49376c7511e
