<!-- Embedded JavaScript -->
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Quiz</title>
    </head>
    <body>
        <form method="get" action="/quizes/<%= quiz.id %>/answer" >
            Pregunta <%= quiz.pregunta %>
            <input type="text" name="respuesta" />
            <input type="submit" value="Enviar">
        </form>
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentarto</button></a></p>
<p><strong>Comentarios:</strong></p>
<%for(index in quiz.Comments){%>
<p>- <%=quiz.Comments[index].texto%></p>
<%}%>
    </body>
</html>
